.contentBox{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.item{
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.itemDetails{

}
.table{
  display: flex;
  flex-direction: column;
}
.imageDiv{

}
.image{
  height: 100%;
  max-height:200px;
}
.bigblue {
  color: DodgerBlue;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
